<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/app.js"></script>
</head>

<body>
    {{> header}}
    <h>Lorem2 ipsum dolor sit amet consectetur adipisicing elit.
        Adipisci quibusdam deleniti ipsa, accusamus quasi placeat
        aperiam fugiat excepturi dolorum voluptate earum voluptates
        iusto? Laudantium sapiente consequatur, cumque recusandae
        tenetur omnis.</h>
    <img src="./img/pic1.png" />
        <h1>{{title}}</h1>
{{!--         <p>Created by {{name}}</p> --}}
        {{>footer}}
</body>

</html>