body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.intro-text {
    margin-top: 20px;
    text-align: center;
}

.landscape-image {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#locationInput {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.weather-display h3 {
    margin: 0;
}

#weatherIcon {
    margin: 10px 0;
}

.main-title {
    text-align: center;
    margin-top: 50px;
}

.footer-text {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
    color: #777;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 10px;
    }
}